$bigTextColor: #eac435;
$smallTextAndBgColor: #1e1e24;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
#endScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  background-color: $smallTextAndBgColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka One", cursive;
  color: $bigTextColor;
  font-size: 8vw;
  user-select: none;
  z-index: -1;
  h1 {
    padding-left: 1%;
    text-shadow: 0.5vw 0.5vw #0e0e11;
  }
  p {
    text-shadow: 0.5vw 0.5vw #0e0e11;
  }
}
#playField {
  height: 100vh;
  width: 100vw;
  background-color: $smallTextAndBgColor;
  display: grid;
  grid-template-columns: 1fr 50% 1fr;
  grid-template-rows: 25vh 50vh 25vh;
  overflow: hidden;
  #currentScore {
    grid-column: 2;
    grid-row: 2;
    user-select: none;
    font-family: "Fredoka One", cursive;
    color: #0e0e11;
    font-size: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    grid-column: 2;
    justify-self: center;
    font-family: "Fredoka One", cursive;
    font-size: 3vw;
    transition: all 0.8s;
    user-select: none;
  }
  #startScreen {
    background-color: #fb4d3d;
    border-radius: 5px;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    transition: all 0.5s;
    h1 {
      font-family: "Fredoka One", cursive;
      font-size: 10vw;
      color: $bigTextColor;
      user-select: none;
      text-shadow: 0.5vw 0.5vw #0e0e11;
    }
    p {
      font-family: "Lekton", sans-serif;
      font-weight: bold;
      font-size: 100%;
      color: $smallTextAndBgColor;
      user-select: none;
    }
    #startButton {
      font-family: "Lekton", sans-serif;
      font-weight: bold;
      background-color: $bigTextColor;
      min-height: 10%;
      min-width: 20%;
      padding: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 5px;
      color: $smallTextAndBgColor;
      &:hover {
        background-color: $smallTextAndBgColor;
        color: $bigTextColor;
      }
      span {
        user-select: none;
      }
    }
  }
}
.particle {
  height: 5px;
  width: 5px;
  transition: all 0.2s;
}
.titleColor {
  color: $bigTextColor;
}
.invisible {
  color: transparent;
}
